/*bodyに適応*/
body{
    font-size: 20px;
    height: 1300px;
}


/**/
.content{
    
    /*親ブロックとなるdivで調節*/
    text-align: center;
    /*width: 1000px*/
}


/*web上に表示されているボタン群*/
.close_modal_button,.js_modal_open{

    /*カーソルがリンクを示すポインターとなる。指をさすのが出てくる*/
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    background: #4caf50;
    color: white;
}

/*<div class ="modal_area" id="modal">以下に反映*/
#modal_content{

    display: none;
    text-align:center;
    /*display: none;*/
    background: rgba(0,0,0, 0.5);
    /*要素の配置方法を指定する。fixedではスクロールしても位置が固定されたままになる。*/
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /*これがあると全体表示になった。*/
    position: fixed;

}


#modal_area{

    background: #fff;
    /*文字の色*/
    color: #555;
    /*表示される白画面の幅*/
    width: 500px;
    /*要素の内部に追加領域(空白)を作成する 引数2つで上下|左右になる*/
    padding: 100px 40px;
    /*要素の境界の外側、つまりsectionとdivの境界において外側の四方の角を丸める事が出来る*/
    border-radius: 10px;
    /*要素配置(基準位置)を決定することが出来る
    最終決定は、top,left,right,*/
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 100px;
    /*前の要素などがある場合、要素同士の間隔設定する.今は自動で中央寄席している*/
    /*よくある magin: 0 auto;と同じ*/
    margin: auto;
    z-index: 2;
}

/*
.hidden{

    

}
*/

/*
.modalBgOpen {
    animation  : bgOpenAnime 0.5s ease;
}
@keyframes bgOpenAnime {                     
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.modalBgClose {
    bottom     : 100%;
    animation  : bgCloseAnime 0.5s ease;
}

@keyframes bgCloseAnime {                     
    0% { opacity: 1; bottom: 0 }
    100% { opacity: 0; bottom: 0 }
}
*/